@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/proxima_nova_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/proxima_nova_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: 'Proxima Nova', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* category.css */
.sign-out-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-size: 13px;
}

.category-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.nav.background {
  height: 70px;
  width: 100%;
}

.Add-new-category-container {
  width: 100%;
}

.add-category-button {
  padding: 15px;
  background-color: #5fb523;
  color: white;
  font-size: 18px;
  display: flex;
  margin-top: 20px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.categories-container {
  margin-bottom: 20px;
}

#next-btn {
  cursor: pointer;
}

.group-link {
  text-decoration: none;
  color: #3778c2;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 10px;
  align-items: flex-start;
  width: 50%;
  text-align: left;
  gap: 25px;
}

.Cat-image {
  width: 150px;
  height: 100px;
}

.category {
  padding: 10px;
  margin-right: 3%;
  margin-left: 3%;
}

.category-new {
  padding: 10px;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.category-new-div {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 13px;
}

.category-new-div-p {
  background: white;
  padding-bottom: 10px;
}

.category h2 {
  margin-bottom: 10px;
  background: white;
}

.category p {
  margin: 0;
  background: white;
}

.category-div {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-right: 10px;
}

.name-amount {
  background: white;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.group-date {
  color: #777;
}

.total-amount {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 500;
}

.amt-div {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 13px;
}

.total-amt {
  background: white;
  padding: 17px;
  text-align: right;
  font-size: 19px;
  font-weight: bolder;
}

.category-total {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-right: 10px;
}

.custom-fieldss {
  background: white;
  padding: 20px;
}

.custom-fieldsss {
  background: white;
  padding: 20px;
  margin-bottom: 3px;
}

.custom-fieldsss input:focus {
  outline: none;
}

.formlabel {
  background: white;
  font-size: 13px;
  color: #757575;
  padding-right: 5px;
}

#entity_name {
  border: none;
  background: white;
}

#group_icon {
  background: white;
}

.custom-fieldn {
  width: 100%;
  padding: 18px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  margin-bottom: 3px;
}

#entity_amount {
  border: none;
  background: white;
}

/* login.css */
.device-links {
  margin-top: 15px;
  background-color: #f5f4f4;
}

/* navbar */
.left-arrow-link {
  text-decoration: none;
  background-color: #3778c2;
}

.nav {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  color: white;
  font-size: 19px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

#signup-next-btn {
  cursor: pointer;
}

.background {
  background-color: #3778c2;
}

#login-link {
  cursor: pointer;
}

/* other */

.login-screen {
  text-align: center;
  padding-top: 1%;
  background-color: #f5f4f4;
}

.custom-login-form {
  background: white;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.custom-field label {
  font-size: 14px;
  color: #ddd;
  display: block;
  margin-bottom: 5px;
}

.custom-field input[type="email"],
.custom-field input[type="password"],
.custom-field input[type="text"] {
  width: 100%;
  padding: 18px;
  border: none;
  background-color: #fff;
  font-size: 15px;
}

.custom-field input[type="password"] {
  border-top: 3px solid #ddd;
  padding-bottom: 25px;
}

.custom-field input[type="text"] {
  border-bottom: 3px solid #ddd;
  padding-bottom: 25px;
}

.custom-login-button {
  font-size: 16px;
  padding: 10px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-login-button:hover {
  background-color: #5fb523;
}

.custom-actions {
  margin-top: 10px;
  text-align: center;
}

.links-check {
  text-align: center;
}

.forget-password {
  text-decoration: none;
  color: #434b54;
}

.custom-field input:focus {
  outline: none;
}

/* splash_screen.css */
* {
  margin: 0;
  background-color: rgba(237, 236, 236, 0.545);
}

.splash-screen {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(237, 236, 236, 0.544);
}

.splash-screen-title {
  font-size: 40px;
  color: #434b54;
  padding-top: 250px;
}

.login-button {
  font-size: 17px;
  display: block;
  width: 90vw;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #3778c2;
}

.signup-button {
  font-size: 17px;
  display: block;
  width: 90vw;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  color: #434b54;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #5fb523;
  color: #fff;
}
